body {
  font-size: 16px;
  line-height: 1.7;
  color: $default;
  @extend %dmsans-700;
}

a:focus,
button:focus {
  outline: $accent solid 2px;
  border-bottom: 2px solid $accentDark;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  padding-bottom: 2px;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo:active {
  opacity: 0.5;
}

button:hover {
  background-color: $accentDark;
}