$accent: #a3bbc8;
$default: #436372;
$title: #191919;



%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-300 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 300;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-300 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 300;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}