.header {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
  }

  &__link {
    opacity: 1;
  }

  &__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
  }

  &__link:active {
    opacity: 1;
    transition: opacity 0.2s;
  }
}

.user-nav {
  display: flex;

  &__like {
    position: relative;
    width: 90px;
    height: 50px;
    border-bottom-left-radius: 25px 25px;
    border-top-left-radius: 25px 25px;
    background-color: #fcd7b6;
    display: inline-block;
  }

  &__like::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    right: 0;
    top: 8px;
    z-index: 1;
    background-color: #fff;
  }

  &__like-icon,
  &__basket-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 30%;
    left: 45%;
  }

  &__like-num,
  &__basket-num {
    position: absolute;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    top: 15%;
    right: 22%;
    background-color: #fff;
  }

  &__basket {
    position: relative;
    width: 90px;
    height: 50px;
    margin-right: 20px;
    border-bottom-right-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
    background-color: #fcd7b6;
    display: inline-block;
  }

  &__basket-icon {
    top: 30%;
    left: 40%;
  }

  &__basket-num {
    right: 25%;
  }

  &__like:hover &__like-icon,
  &__basket:hover &__basket-icon {
    transform: scale(1.2);
    transition: transform 0.3s;
  }

  &__like:active,
  &__basket:active {
    background-color: #fff;
    transition: background-color 0.7s;
  }
}

.icon-btn__svg--header {
  margin-right: 0;
  fill: #fff;
}

.icon-btn--header{
  background-color: $accent;
  margin-right: 0;
}