.header {

  @include a(992) {
    background-color: $bg;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;

    @include a(992) {
      padding: 20px 0;
      background-color: $bg;
    }

    @include a(576) {
      padding: 0 0 10px;
    }
  }

  &__nav {
    margin-left: 9%;

    @include a(1200) {
      margin-left: 0px;
    }

    @include a(992) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      color: $accentDark;
      background-color: $bg;
      z-index: 3;
      transform: translateY(-200%);
      transition: transform 1s;
    }
  }

  &__link {
    opacity: 1;

    @include a(992) {
      display: block;
      padding: 10px;
    }

    @include a(576) {
      font-size: 14px;
      padding: 7px;
    }
  }

  &__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
  }

  &__link:active {
    opacity: 1;
    transition: opacity 0.2s;
  }
}

.user-nav {
  display: flex;

  @include a(992) {}

  @include a(576) {
    padding-top: 10px;
    align-items: center;
  }

  &__like {
    position: relative;
    width: 90px;
    height: 50px;
    border-bottom-left-radius: 25px 25px;
    border-top-left-radius: 25px 25px;
    background-color: $pink;
    display: inline-block;
    transition: background-color 0.3s;

    &:hover {
      background-color: $accentDark;

      .user-nav__like-icon {
        fill: #fff;
      }
    }

    &:active {
      background-color: $pink;
    }

    @include a(576) {
      width: 60px;
      height: 44px;
      display: block;
    }
  }

  &__like::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    right: 0;
    top: 8px;
    z-index: 1;
    background-color: #fff;

    @include a(576) {
      height: 25px;
    }
  }

  &__like-icon,
  &__basket-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 30%;
    left: 45%;
  }

  &__like-num,
  &__basket-num {
    position: absolute;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    top: 15%;
    right: 22%;
    background-color: #fff;

    @include a(576) {
      display: none;
    }
  }

  &__basket {
    position: relative;
    width: 90px;
    height: 50px;
    margin-right: 20px;
    border-bottom-right-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
    background-color: #fcd7b6;
    display: inline-block;
    transition: background-color 0.3s;

    &:hover {
      background-color: $accentDark;

      .user-nav__basket-icon {
        fill: #fff;
      }
    }

    &:active {
      background-color: $pink;
    }

    @include a(576) {
      width: 60px;
      height: 44px;
      margin-right: 5px;
      display: block;
    }
  }

  &__basket-icon {
    left: 40%;
  }

  &__basket-num {
    right: 25%;
  }
}

.header__inner.header__inner--active .header__nav {
  @include a(992) {
    transform: translateY(0);
    padding: 10% 0 0;

    @include a(768) {
      padding: 15% 0 0;
    }
  }
}