.top-product {

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 210px 0 280px 300px;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1;
    color: #243f4d;
    @extend %rubik-500;
    @include clamp(2);
  }

  &__info {
    max-width: 365px;
    font-size: 18px;
    margin-bottom: 30px;
    @extend %rubik-400;
    @include clamp(5);
  }

  &__circle {
    &::after {
      content: '';
      position: absolute;
      top: 10%;
      right: 10%;
      width: 635px;
      height: 635px;
      border-radius: 50%;
      background-image: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__img {
    position: absolute;
    top: 35%;
    right: 17%;
    z-index: 1;
    object-fit: fill;
  }
}