.services {

  &__inner {
    display: flex;
    justify-content: space-between;
    background-color: #fef7f0;
  }

  &__item {
    padding: 45px 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;


    &:not(:last-child) {
      border-right: 1px solid $accent;
    }
  }

  &__info {
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 50px 50px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    &--time {
      background-image: url('../images/sprite.svg#time');
    }

    &--delivery {
      background-image: url('../images/sprite.svg#delivery-truck');
    }

    &--payment {
      background-image: url('../images/sprite.svg#credit-card');
    }
  }


  &__title {
    font-size: 18px;
    color: #414141;
    margin-bottom: 5px;
    max-width: 213px;
    @include clamp(1);
  }

  &__text {
    @extend %dmsans-400;
    color: #585858;
    max-width: 213px;
    @include clamp(2);
  }
}