.services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 15px;
  background-color: #fef7f0;

  &__item {
    padding-left: 225px;
    flex-grow: 1;
    position: relative;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 160px;
      top: -35px;
      right: 0;
      background-color: #e8e4df;
    }

    &--time {
      background-image: url('../images/icons/time.svg');
      background-repeat: no-repeat;
      background-position: 28% 20%;
    }

    &--delivery {
      background-image: url('../images/icons/delivery-truck.svg');
      background-repeat: no-repeat;
      background-position: 28% 20%;
    }

    &--payment {
      background-image: url('../images/icons/credit-card.svg');
      background-repeat: no-repeat;
      background-position: 28% 20%;
    }
  }

  &__title {
    font-size: 18px;
    color: #414141;
    margin-bottom: 5px;
    max-width: 213px;
    @include clamp(1);
  }

  &__text {
    @extend %dmsans-400;
    color: #585858;
    max-width: 213px;
    @include clamp(2);

    span {
      display: block;
    }
  }

}