.icon-btn {
  background-color: $icons;
  border-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $accentDark;
    cursor: pointer;

    .icon-btn__svg {
      fill: #fff;
    }
  }

  &:active {
    background-color: $accent;
    transition: background-color 0.3s;
  }

  &__svg {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 34%;
    top: 33%;

    &--header {
      margin-right: 0;
    }

    &--white {
      fill: #fff;
    }

    &--gray {
      fill: #888;
      width: 18px;
      height: 18px;
      top: 26%;
      left: 28%;
    }

    &--googel {
      width: 23px;
      height: 15px;
    }

    @include a(768) {
      left: 30%;
      top: 30%;
    }
  }

  &--search {
    margin-right: 20px;

    @include a(576) {
      width: 44px;
      height: 44px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  &--menu {
    background-color: $accent;
    margin-right: 0;
    z-index: 5;

    @include a(576) {
      width: 44px;
      height: 44px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  &--social {
    width: 40px;
    height: 40px;
  }
}