.contact {
  &__inner {
    padding-top: 95px;
  }

  &__top {
    margin-bottom: 120px;
  }

  &__subtitle {
    color: $accent;
    @extend %poppins-700;
    text-align: center;
    display: block;
  }

  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $form;
    max-width: 375px;
    padding: 75px 0;
    border: 3px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $accent;

      .contact__desc::before {
        background-color: $accent;
      }

      .contact__svg {
        fill: #fff;
      }

      .contact__link {
        color: $title;
      }
    }
  }

  &__desc {
    font-size: 20px;
    color: $title;
    margin-bottom: 25px;
    padding-top: 130px;
    margin: 0 auto;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
      width: 85px;
      height: 85px;
      background-color: #fff;
      transition: background-color 0.3s;
    }
  }

  &__svg {
    position: absolute;
    width: 40px;
    height: 40px;
    Fill: $accent;
    top: 11%;
    left: 50%;
    transform: translateX(-45%)
  }

  &__text {
    @extend %rubik-300;
    color: #565872;
  }

  &__link {

    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;

  }

  &__form {
    max-width: 620px;
    width: 100%;
    margin-bottom: 0;
  }

  &__input {
    max-width: 300px;
    height: 50px;
    background-color: $form;
  }

  &__user {
    margin-right: 15px;
  }

  &__textarea {
    background-color: $form;
    margin-bottom: 15px;
  }

  &__btn {
    position: absolute;
    bottom: 0;
  }
}

#map {
  width: 500px;
  height: 340px;
}